:root {
  --primary: #209cee;
  --primary-010: #006bb3;

  --positive: #92cc41;
  --positive-010: #4aa52e;

  --negative: #e76e55;
  --negative-010: #8c2022;

  --warning: #f7d51d;
  --warning-010: #e59400;

  --white: #fff;

  --grey: #d3d3d3;
  --grey-010: #adafbc;

  --black: #212529;
}
